<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="radio">

    <!-- Macro to define radio1 -->
    <xacro:macro name="radio1" params="name parent_link xyz">
        <link name="${name}_link">
            <collision name="${name}_collision">
                 <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder radius="0.025" length="0.25"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="8"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <inertia ixx="0.0025" ixy="0" ixz="0" iyy="0.04292" iyz="0" izz="0.04292"/>
            </inertial>
            <visual name="${name}_visual">
                <geometry>
                    <cylinder radius="0.025" length="0.25"/>
                </geometry>
                <material name="radio_color"/>
            </visual>
        </link>
        <joint name="${name}_joint" type="fixed">
            <parent link="${parent_link}"/>
            <child link="${name}_link"/>
            <origin rpy="0 1.5708 0" xyz="${xyz}"/>
        </joint>
    </xacro:macro>

    <!-- Macro to define radio2 -->
    <xacro:macro name="radio2" params="name parent_link xyz rpy">
        <link name="${name}_link">
            <collision name="${name}_collision">
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <cylinder radius="0.025" length="0.5"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="5"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                  <inertia ixx="0.05326" ixy="0" ixz="0.05169" iyy="0.10495" iyz="0" izz="0.05326"/>
            </inertial>
            <visual name="${name}_visual">
                <geometry>
                    <cylinder radius="0.025" length="0.5"/>
                </geometry>
                <material name="radio_color"/>
            </visual>
        </link>
        <joint name="${name}_joint" type="fixed">
            <parent link="${parent_link}"/>
            <child link="${name}_link"/>
            <origin rpy="${rpy}" xyz="${xyz}"/>
        </joint>
    </xacro:macro>

    <material name="radio_color">
        <color rgba="0.09412 0.1098 0.21961 1"/>
    </material>

</robot>